.custom-card{
    background: linear-gradient(#FFe9AA,olive);
    width:200px;
    margin:1rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    .inline{
        display: flex;
    }
}
.likes{
    margin: 1rem 1rem;
}
.likes:before{
    content: "";
    float: left;
    width: 16px;
    height: 16px;
    height:20px;
    background: url('../assets/thumbs-up-regular.svg') no-repeat;
}
.dislikes:before{
    transform: rotate(-180deg);
}
